<html>

<head>
  <meta charset="UTF-8">
  <title>Policy App</title>

  <link rel="stylesheet" href="repo-hygiene/css/bootstrap.min.css">
  <script src="repo-hygiene/js/jquery.js"></script>
  <script src="repo-hygiene/js/bootstrap.min.js"></script>

</head>

<body>
  <script>
    window.addEventListener("load", function () {
      document.getElementById('_initA').style.color = 'Aqua';
    })
  </script>
  <div class="container">
    {{{header}}}

    <div id="init" class="jumbotron">
      <p>Policy App</p>
    </div>
    <p>A GitHub application to apply policies to a GitHub environment.</p>
    <br><br><br>
    <p align="center"><img width="90%" src="repo-hygiene/public/Rules-Concept-2.png"</p>
</body>

</html>